<%- include('header')%>
<div class="ui grid">
    <div class="three wide column">
        <a href="/posts?author=<%= user._id %>" class="avatar avatar-link"
           data-title="<%= user.name%> | <%=({m:'男',f:'女',x:'保密'})[user.gender]%>"
           data-content="<%=user.bio%>">
            <img src="/img/<%=user.avatar%>" alt="" class="avatar">
        </a>
    </div>

    <div class="ten wide column">
        <form action="" class="ui form segment piled" method="post">
            <div class="field required">
                <label for="">标题</label>
                <input type="text" name="title">
            </div>
            <div class="field required relative">
                <label for="">内容</label>
                <!--编辑器选择-->
                <div class="editor-list ui inline dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="ueditor">富文本编辑器</div>
                        <div class="item" data-value="editormd">markdown编辑器</div>
                    </div>
                </div>
                <!--编辑器类别-->
                <input type="hidden" name="type" value="ueditor">
                <!--编辑器容器-->
                <div id="createContainer"></div>
            </div>
            <input type="submit" class="ui button" value="发布">
        </form>
    </div>
</div>
<!--模态框-->
<div class="ui mini modal">
    <div class="header">
        提示
    </div>
    <div class="image content">
        <div class="description">
            切换编辑器需要重新刷新页面，届时您所编辑的标题和文章都会清空，是否切换？
        </div>
    </div>
    <div class="actions">
        <div class="ui button cancel">取消</div>
        <div class="ui button ok">切换</div>
    </div>
</div>
<!-- ueditor配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- ueditor编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>

<!--editormd-->
<script src="/editormd/editormd.js"></script>

<!--公共方法-->
<script src="/js/common.js"></script>

<!-- 初始化 -->
<script type="text/javascript">
    (function () {
        let editor=loadPageVar('editor') || 'ueditor';
        editor && $('input[name="type"]').val(editor);
        $('.editor-list')
            .dropdown('set value',editor==='editormd' ?  'editormd' : 'ueditor')
            .dropdown('set text',editor==='editormd' ?  'markdown编辑器' : '富文本编辑器')
            .dropdown({
                action:'select',
                onChange: function(value, text, $selectedItem) {
                    $('.mini.modal')
                        .modal({
                            onDeny    : function(){
                            },
                            onApprove : function() {
                                window.location.href='/posts/create?editor='+value;
                            }
                        })
                        .modal('show')
                    ;
            }
        });
        editor==='editormd' ? initEditormd('createContainer') : initUeditor('createContainer');
    }());
</script>
<%- include('footer')%>
