<%-include('header') %>
<div class="ui grid">
    <div class="three wide column">
        <a class="avatar"
           href="/posts?author=<%= user._id %>"
           data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
           data-content="<%= user.bio %>">
            <img class="avatar" src="/img/<%= user.avatar %>">
        </a>
    </div>
    <div class="ten wide column">
        <form method="post" action="/posts/<%= post._id %>/edit" class="ui form segment piled">
            <div class="field required">
                <label for="">标题</label>
                <input type="text" name="title" value="<%= post.title %>">
            </div>
            <div class="field required">
                <label for="">内容</label>
                <!--编辑器类别-->
                <input type="hidden" name="type" value="<%= post.type %>">
                <!--编辑器容器-->
                <div id="editContainer"></div>
            </div>
            <input type="hidden" id="content" value="<%= post.content%>">
            <input type="hidden" id="markdown" value="<%= post.markdown%>">
            <input type="submit" class="ui button" value="发布">
        </form>
    </div>
</div>
<!-- ueditor配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- ueditor编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>

<!--editormd-->
<script src="/editormd/editormd.js"></script>

<!--公共方法-->
<script src="/js/common.js"></script>

<!--初始化-->
<script type="text/javascript">
    (function () {
        let editor = $('input[name="type"]').val();
        let content=$('#markdown').val() || $('#content').val();
        editor==='editormd' ? initEditormd('editContainer',content) : initUeditor('editContainer',content);
    }());
//    let ue = UE.getEditor('contentEdit',{initialFrameHeight:400});
//    ue.ready(() => {
//        $('.ui-loader-container').remove();
//        ue.setContent($('#edit').val());
//    });
</script>
<%-include('footer') %>