<%-include('header') %>
<div class="ui grid">
    <div class="three wide column">
        <a class="avatar"
           href="/posts?author=<%= user._id %>"
           data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
           data-content="<%= user.bio %>">
            <img class="avatar" src="/img/<%= user.avatar %>">
        </a>
    </div>
    <div class="ten wide column">
        <form method="post" action="/posts/<%= post._id %>/edit" class="ui form segment piled">
            <div class="field required">
                <label for="">标题</label>
                <input type="text" name="title" value="<%= post.title %>">
            </div>
            <div class="field required">
                <label for="">内容</label>
                <div class="ui-loader-container">
                    <div class="ui active centered inline loader"></div>
                </div>
                <!-- 加载编辑器的容器 -->
                <script id="contentEdit" name="content" type="text/plain"></script>
            </div>
            <input type="hidden" id="edit" value="<%= post.content%>">
            <input type="submit" class="ui button" value="发布">
        </form>
    </div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    let ue = UE.getEditor('contentEdit',{initialFrameHeight:400});
    ue.ready(() => {
        $('.ui-loader-container').remove();
        ue.setContent($('#edit').val());
    });
</script>
<%-include('footer') %>